	<h2>
		SHOPPING APPLICATION
	</h2>
	<p>	
		<b>
			 WordPress Simple PayPal Shopping Cart lets you add an ‘Add to Cart’ button <br>anywhere on your blog. This plugin also allows you to add the shopping cart a<br>nywhere in a post or page or sidebar easily. The shopping cart shows <br> the user what they currently have in the cart and allows them to add or remove items.<br> The payment is processed by PayPal.
			 WordPress Simple PayPal Shopping Cart lets you add an ‘Add to Cart’ button <br>anywhere on your blog. This plugin also allows you to add the shopping cart a<br>nywhere in a post or page or sidebar easily. The shopping cart shows <br> the user what they currently have in the cart and allows them to add or remove items.<br> The payment is processed by PayPal.
		</b>
	<p>