<p>
  <strong>product:</strong>
  <%= link_to @offer.product.name, product_path(@offer.product_id) %>
</p>
<p>
  <strong>Description:</strong>
  <%= @offer.description.html_safe %>
</p>
<p>
  <%= image_tag @offer.avatar.url(:medium) %>
</p>