<div class="nested-fields">
  <h3>sub category</h3>
    <p class='field'>
      <div class="form-group field">
        <label>CODE:</label>
        <%= f.text_field :code, :class=>"form-control",  :placeholder=>"code" %>
      </div>
    </p>
    <p class='field'>
      <div class="form-group field">
        <label>NAME:</label>
        <%= f.text_field :name, :class=>"form-control",  :placeholder=>"name" %>
      </div>
    </p>
</div>

