<html dir="ltr" lang="en"><!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home-Shopping application</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/css/style_home.css" media="all">
<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

</head>
<body class="common-home">

<%= yield %>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5></h5>
        <ul class="list-unstyled"></ul>
      </div>
    </div>

    <p><center>copyright © joice@qburst.com</center></p>
  </div>
</footer>
</body>
